@import url("https://fonts.googleapis.com/css?family=Barlow|Tomorrow:400,700&display=swap");
:root {
    --yellow-color: #fcee09; 
    --red-color: #ff003c;
    --black-color: #050a0e;
    --blue-color: #00f0ff;
  }

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--yellow-color);
    outline: none;
    background-color: var(--yellow-color);
    color: var(--black-color);
    cursor: pointer;
    padding: 10px 15px;
    font-family: Tomorrow, sans-serif;
    font-size: .75rem;
    position: absolute;
    z-index: 99;
    left: 3%;
    top: 3%;
    border-radius: 2px;
}

.credits {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--yellow-color);
  opacity: 0.75;
  outline: none;
  background-color: var(--yellow-color);
  color: var(--black-color);
  cursor: pointer;
  padding: 5px 1px;
  font-family: Tomorrow, sans-serif;
  font-size: .75rem;
  position: absolute;
  z-index: 99;
  right:    0;
  bottom:   0;
  border-radius: 2px;
}


.loading {
    display: inline-block;
    overflow: scroll;
    text-align: left;
    opacity: 0.75;
    width: 500px;
    height: 400px;
    border: 2px solid var(--yellow-color);
    outline: none;
    background-color: var(--yellow-color);
    color: var(--black-color);
    cursor: pointer;
    padding: 10px 15px;
    font-family: Tomorrow, sans-serif;
    font-size: .75rem;
    position: absolute;
    z-index: 99;
    left: 3%;
    top: 10%;
    border-radius: 2px;
    white-space: normal;
}

.orange {
  }
  .orange:hover {
    background:#bd00ff;
    color:var(--yellow-color);
    border: 2px solid #bd00ff;
  }
/* Gray */
.default {
  }
  
  .default:hover {
    background: #530fff;
    border: 2px solid #530fff;
  }  